.DS_Store
target
Cargo.lock
.idea
.doc
crates/fred/tests/tmp/*
!crates/fred/tests/tmp/.gitkeep
dump.rdb
appendonly.aof
test_users.acl
centralized_server.log
redis_centralized.conf
redis_server.pid
crates/fred/tests/users.acl
crates/fred/tests/docker/overrides/*
!crates/fred/tests/docker/overrides/.gitkeep
process.yml
