[package]
name = "fred"
version = "5.2.0"
authors = ["Alec Embke <aembke@gmail.com>"]
edition = "2021"
description = "An async Redis client for Rust built on Futures and Tokio."
readme = "README.md"
repository = "https://github.com/aembke/fred.rs"
homepage = "https://github.com/aembke/fred.rs"
keywords = ["redis", "futures", "async", "cluster", "tokio"]
categories = ["asynchronous", "database", "web-programming"]
license = "MIT"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
arcstr = "1.1"
arc-swap = "1.5"
tokio = { version = "1", features = ["net", "sync", "rt", "macros"] }
tokio-util = { version = "0.7", features = ["codec"] }
cfg-if = "1.0.0"
bytes = "1.2"
bytes-utils = "0.1"
futures = "0.3"
parking_lot = "0.12"
lazy_static = "1.4"
redis-protocol = { version = "4.1", features = ["decode-mut"] }
log = "0.4"
pretty_env_logger = "0.4"
float-cmp = "0.9"
url = "2.3"
tokio-stream = "0.1"
sha-1 = "0.10"
rand = "0.8"
async-trait = "0.1"
semver = "1.0"
native-tls = { version = "0.2", optional = true }
tokio-native-tls = { version = "0.3", optional = true }
tracing = { version = "0.1", optional = true }
tracing-futures = { version = "0.2", optional = true }
nom = { version = "7.1", optional = true }
serde_json = { version = "1", optional = true }

[dev-dependencies]
prometheus = "0.13"
subprocess = "0.2.9"
maplit = "1.0"

[lib]
doc = true
name = "fred"
test = true

[[example]]
name = "resilience"
required-features = ["custom-reconnect-errors"]

[[example]]
name = "basic"
required-features = ["partial-tracing"]

[[example]]
name = "monitor"
required-features = ["monitor"]

[[example]]
name = "prometheus"
required-features = ["metrics"]

[[example]]
name = "pubsub"
required-features = ["subscriber-client"]

[[example]]
name = "serde"
required-features = ["serde-json"]

[features]
default = ["ignore-auth-error", "pool-prefer-active", "enable-tls"]
fallback = []
serde-json = ["serde_json"]
subscriber-client = []
metrics = []
ignore-auth-error = []
enable-tls = ["native-tls", "tokio-native-tls"]
vendored-tls = ["enable-tls", "native-tls/vendored"]
reconnect-on-auth-error = []
pool-prefer-active = []
full-tracing = ["partial-tracing", "tracing", "tracing-futures"]
partial-tracing = ["tracing", "tracing-futures"]
blocking-encoding = ["tokio/rt-multi-thread"]
network-logs = []
custom-reconnect-errors = []
monitor = ["nom"]
sentinel-client = []
sentinel-auth = []
no-client-setname = []
# Testing Features
sentinel-tests = []
# a testing feature to randomly stop, restart, and rebalance the cluster while tests are running
chaos-monkey = ["custom-reconnect-errors"]
# tests that may not work on some systems that have low file descriptor limits
fd-tests = []
