[package]
name = "fred"
version = "6.1.0"
authors = ["Alec Embke <aembke@gmail.com>"]
edition = "2021"
description = "An async Redis client built on Tokio."
readme = "README.md"
repository = "https://github.com/aembke/fred.rs"
homepage = "https://github.com/aembke/fred.rs"
keywords = ["redis", "async", "cluster", "sentinel"]
categories = ["asynchronous", "database", "web-programming"]
license = "MIT"

[package.metadata.docs.rs]
features = [
  "serde-json",
  "subscriber-client",
  "mocks",
  "metrics",
  "dns",
  "enable-rustls",
  "enable-native-tls",
  "blocking-encoding",
  "custom-reconnect-errors",
  "monitor",
  "sentinel-client",
  "sentinel-auth",
  "check-unresponsive",
  "replicas",
  "client-tracking"
]
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
arcstr = "1.1"
arc-swap = "1.5"
tokio = { version = "1", features = ["net", "sync", "rt", "rt-multi-thread", "macros"] }
tokio-util = { version = "0.7", features = ["codec"] }
cfg-if = "1.0.0"
bytes = "1.1"
bytes-utils = "0.1"
futures = "0.3"
parking_lot = "0.12"
lazy_static = "1.4"
redis-protocol = { version = "4.1", features = ["decode-mut"] }
log = "0.4"
pretty_env_logger = "0.4"
float-cmp = "0.9"
url = "2.3"
tokio-stream = "0.1"
sha-1 = "0.10"
rand = "0.8"
async-trait = "0.1"
semver = "1.0"
rustls = { version = "0.20", optional = true }
native-tls = { version = "0.2", optional = true }
tokio-native-tls = { version = "0.3", optional = true }
tracing = { version = "0.1", optional = true }
tracing-futures = { version = "0.2", optional = true }
nom = { version = "7.1", optional = true }
serde_json = { version = "1", optional = true }
tokio-rustls = { version = "0.23", optional = true }
rustls-native-certs = { version = "0.6", optional = true }
trust-dns-resolver = { version =  "0.22", optional = true }

[dev-dependencies]
prometheus = "0.12"
base64 = "0.13"
subprocess = "0.2.7"

[lib]
doc = true
name = "fred"
test = true

[[example]]
name = "monitor"
required-features = ["monitor"]

[[example]]
name = "prometheus"
required-features = ["metrics"]

[[example]]
name = "pubsub"
required-features = ["subscriber-client"]

[[example]]
name = "serde"
required-features = ["serde-json"]

[[example]]
name = "dns"
required-features = ["dns"]

[[example]]
name = "client_tracking"
required-features = ["client-tracking"]

[features]
default = ["ignore-auth-error", "pool-prefer-active"]
fallback = []
serde-json = ["serde_json"]
subscriber-client = []
metrics = []
mocks = []
dns = ["trust-dns-resolver", "trust-dns-resolver/tokio"]
ignore-auth-error = []
enable-rustls = ["rustls", "tokio-rustls", "rustls-native-certs"]
enable-native-tls = ["native-tls", "tokio-native-tls"]
vendored-openssl = ["enable-native-tls", "native-tls/vendored"]
reconnect-on-auth-error = []
pool-prefer-active = []
full-tracing = ["partial-tracing", "tracing", "tracing-futures"]
partial-tracing = ["tracing", "tracing-futures"]
blocking-encoding = ["tokio/rt-multi-thread"]
network-logs = []
custom-reconnect-errors = []
monitor = ["nom"]
sentinel-client = []
sentinel-auth = []
no-client-setname = []
check-unresponsive = []
replicas = []
client-tracking = []
# Testing Features
debug-ids = []
sentinel-tests = []