version: 2.1

commands:
  # sccache takes 5 min to install on a 2x4 container
  save-sccache-build-cache:
    steps:
      - save_cache:
          name: Save the sccache binary cache
          key: sccahe-binary-cache-{{ .Environment.CACHE_VERSION }}-{{ arch }}
          paths:
            - "~/.cargo/bin/sccache"
  restore-sccache-build-cache:
    steps:
      - restore_cache:
          name: Restore sccache binary cache
          key: sccahe-binary-cache-{{ .Environment.CACHE_VERSION }}-{{ arch }}
  # https://medium.com/@edouard.oger/rust-caching-on-circleci-using-sccache-c996344f0115
  setup-sccache:
    steps:
      - restore-sccache-build-cache
      - run:
          name: Install sccache
          command: |
            [ ! -f ~/.cargo/bin/sccache ] && cargo install sccache
            echo 'export "RUSTC_WRAPPER"="sccache"' >> $BASH_ENV
            echo 'export "SCCACHE_CACHE_SIZE"="1G"' >> $BASH_ENV
            sccache --version
      - save-sccache-build-cache
  restore-sccache-cache:
    steps:
      - restore_cache:
          name: Restore sccache cache
          key: sccache-cache-stable-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Environment.CIRCLE_JOB }}
  save-sccache-cache:
    steps:
      - save_cache:
          name: Save sccache cache
          key: sccache-cache-stable-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ epoch }}
          paths:
            - "~/.cache/sccache"
  install_cargo_nextest:
    steps:
      - run:
          name: Install cargo-nextest
          command: tests/scripts/install_cargo_nextest.sh
  clear_git_cache:
    steps:
      - run:
          name: Clear the cargo git cache
          command: rm -rf ~/.cargo/git/* && rm -rf ~/.cargo/registry/cache/*
  setup_docker_compose:
    steps:
      - run:
          name: Install Docker Compose
          environment:
            COMPOSE_VERSION: '1.29.2'
          command: |
            curl -L "https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-$(uname -s)-$(uname -m)" -o ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - setup_remote_docker:
          docker_layer_caching: true
  build_docs:
    steps:
      - run:
          name: Install nightly
          command: rustup install nightly
      - run:
          name: Build documentation
          command: tests/doc.sh
  test_default_features:
    steps:
      - checkout
      - setup_docker_compose
      - setup-sccache
      - restore-sccache-cache
      - run:
          name: Run tests with default features
          command: tests/runners/default-features.sh
      - save-sccache-cache
  test_all_features:
    steps:
      - checkout
      - setup_docker_compose
      - setup-sccache
      - restore-sccache-cache
      - run:
          name: Run tests with all features
          command: tests/runners/all-features.sh
      - save-sccache-cache
  test_no_features:
    steps:
      - checkout
      - setup_docker_compose
      - setup-sccache
      - restore-sccache-cache
      - run:
          name: Run tests with no features
          command: tests/runners/no-features.sh
      - save-sccache-cache
  test_sentinel:
    steps:
      - checkout
      - setup_docker_compose
      - setup-sccache
      - restore-sccache-cache
      - run:
          name: Install and run sentinel tests
          command: tests/runners/sentinel-features.sh
  test_tls_cluster:
    steps:
      - checkout
      - setup_docker_compose
      - setup-sccache
      - restore-sccache-cache
      - run:
          name: Generate TLS credentials
          command: tests/scripts/tls-creds.sh
      - run:
          name: Run cluster tests with native-tls features
          command: tests/runners/cluster-native-tls.sh
      - save-sccache-cache
  test_rustls_cluster:
    steps:
      - checkout
      - setup_docker_compose
      - setup-sccache
      - restore-sccache-cache
      - run:
          name: Generate TLS credentials
          command: tests/scripts/tls-creds.sh
      - run:
          name: Run cluster tests with rustls features
          command: tests/runners/cluster-rustls.sh
      - save-sccache-cache

jobs:
  test-default-7_0:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 7.0.5
    steps:
      - test_default_features
  test-no-features-7_0:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 7.0.5
    steps:
      - test_no_features
  test-all-features-7_0:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 7.0.5
    steps:
      - test_all_features
  test-cluster-tls-features-7_0:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 7.0.5
      FRED_CI_TLS: true
    steps:
      - test_tls_cluster
  test-cluster-rustls-features-7_0:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 7.0.5
      FRED_CI_TLS: true
    steps:
      - test_rustls_cluster
  test-default-6_2:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 6.2.2
    steps:
      - test_default_features
  test-no-features-6_2:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 6.2.2
    steps:
      - test_no_features
  test-all-features-6_2:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 6.2.2
    steps:
      - test_all_features
  test-sentinel-6_2:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 6.2.2
    steps:
      - test_sentinel
  test-sentinel-7_0:
    docker:
      - image: cimg/rust:1.66.0
    environment:
      REDIS_VERSION: 7.0.5
    steps:
      - test_sentinel
  test-docs:
    docker:
      - image: cimg/rust:1.66.0
    steps:
      - checkout
      - build_docs

workflows:
  version: 2
  build:
    jobs:
      # it'd be nice if we could pass parameters or something here
      - test-default-6_2
      - test-all-features-6_2
      - test-no-features-6_2
      - test-sentinel-6_2
      - test-default-7_0
      - test-all-features-7_0
      - test-no-features-7_0
      - test-sentinel-7_0
      - test-docs
      - test-cluster-tls-features-7_0
      - test-cluster-rustls-features-7_0