[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = US
ST  = WA
CN  = node-30004.example.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 127.0.0.1
DNS.1 = node-30001.example.com
DNS.2 = node-30002.example.com
DNS.3 = node-30003.example.com
DNS.4 = node-30004.example.com
DNS.5 = node-30005.example.com
DNS.6 = node-30006.example.com